<h2>Olá, {{ student }} </h2>
<p>Seu registro foi cancelado, veja as informações abaixo:</p>
<p>

  <div>
    <strong>Plano: </strong> {{ plan }}
  </div>
  <div>
    <strong>Duração: </strong> {{ duration }}
  </div>
  <div>
    <strong>Valor: </strong> {{ price }}
  </div>
  <div>
    <strong>Cancelado em: </strong> {{ canceled_at }}
  </div>
  <br>
  <small>
    Muito obrigado por ter nos escolhido e esperamos que você volte logo!
    <br> <br>
    Nossos cumprimentos,<br>
    Gympoint TEAM
  </small>
</p>
