<h2>Olá, {{ student }} </h2>
<p>Seu plano foi alterado com sucesso! Por favor, veja os detalhes do seu novo plano abaixo:</p>
<p>

  <div>
    <strong>Plano: </strong> {{ plan }}
  </div>
  <div>
    <strong>Duração: </strong> {{ duration }}
  </div>
  <div>
    <strong>Período: </strong> {{ start_date }} até {{ end_date }}
  </div>
  <div>
    <strong>Valor: </strong> {{ price }}
  </div>
  <br />

</p>
