<h2>Olá, {{ student }} </h2>
<p>Sua matrícula foi realizada com sucesso! Por favor, veja os detalhes abaixo:</p>
<p>
  <p>
    <div>
      <strong>Aluno: </strong> {{ student }}
    </div>
    <div>
      <strong>Plano: </strong> {{ plan }} ({{ duration }})
    </div>
    <div>
      <strong>Duração: </strong> {{ duration }}
    </div>

    <div>
      <strong>Período: </strong> {{ start_date }} até {{ end_date }}
    </div>
    <div>
      <strong>Valor: </strong> {{ price }}
    </div>
    <br />
    <small>
      Aproveite o treino e vamos crescer juntos.
    </small>
  </p>
